@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Here at scheduling company we care about privacy and your privacy and very privacy blah blah blah.</p>
